/* ===== BODY ===== */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ===== CONTAINER ===== */
.container {
    text-align: center;
}

/* ===== CARD ===== */
.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    width: 320px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* ===== AVATAR ===== */
.avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== TEXT ===== */
h1 {
    margin: 10px 0;
    font-size: 22px;
}

.id {
    color: #cbd5e1;
    margin: 5px 0;
}

.desc {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 20px;
}

/* ===== BUTTON ===== */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 12px 25px;
    background: #22c55e;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;

    transition: 0.3s;
    box-shadow: 0 0 15px rgba(34,197,94,0.4);
}

.btn:hover {
    background: #16a34a;
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(34,197,94,0.6);
}

.btn i {
    margin-right: 8px;
}
