body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    width: 320px;
    text-align: center;
}

.avatar img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
}

h1 {
    margin: 10px 0;
    font-size: 22px;
}

.id {
    color: #cbd5e1;
    margin: 5px 0;
}

.desc {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #22c55e;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #16a34a;
    transform: scale(1.05);
}
.btn i {
    margin-right: 8px;
}
